// IMPORT SASS
@import 'variables';
@import 'optionBar';
@import 'leftNav';
@import 'd3Wrapper';

.app-class {
  background-color: $fifth-color;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}
