// IMPORT SASS
@import 'variables';
@import 'optionBar';
@import 'leftNav';
@import 'd3Wrapper';

body {
  font-size: 14px;
}

.flex {
  display: flex;
}

.app-class {
  background-color: $fourth-color;
  display: flex;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(10, 1fr);
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
  .main {
    flex-grow: 1;
    min-width: 700px;
  }
  .draggable {
    -webkit-app-region: drag;
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
}
