// IMPORT SASS
@import 'variables';
@import 'optionBar';
@import 'leftNav';
@import 'd3Wrapper';

@font-face {
  font-family: 'Sen-Regular';
  src: url(./fonts/Sen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sen-Bold';
  src: url(./fonts/Sen-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sen-ExtraBold';
  src: url(./fonts/Sen-ExtraBold.ttf) format('truetype');
}

html * {
  font-family: $font-fam;
}

body {
  font-size: 14px;
  -webkit-user-select: none;
  margin: 0;
}

.flex {
  display: flex;
}

h1 {
  font-family: 'Sen-Bold';
}

h2 {
  color: $primary-color;
  font-size: 1.5em;
  line-height: 1em;
  align-self: center;
}

.app-class {
  background-color: $fourth-color;
  display: flex;
  min-height: 650px;
  height: 100vh;
  width: 100vw;

  .main {
    flex-grow: 1;
    min-width: 700px;
    flex-direction: column;
  }

  // creates draggable bar at the top of application to replace removed native bar
  .draggable {
    -webkit-app-region: drag;
    height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
}
