.d3-wrapper {
  display: flex;
  flex: 1 1 0;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  .error-open-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    color: red;

    .error-display {
      display: flex;
      flex-direction: column;
    }
  }

  .services-wrapper {
    flex: 1 1 0;
    height: 100%;

    .view-wrapper {
      height: 100%;
      width: 100%;

      .graph {
        width: 100%;
        height: 100%;

        .node {
          cursor: pointer;
          .nodeLabel {
            font-family: 'Sen-Bold';
            fill: $fourth-color;
            font-size: 16px;
            text-anchor: middle;
          }
          .nodeLabelStroke {
            font-family: 'Sen-Bold';
            stroke: #006896;
            stroke-width: 4;
            font-size: 16px;
            text-anchor: middle;
          }
          .port {
            stroke: $secondary-color;
            fill: rgb(223, 223, 223);
            opacity: 0.9;
          }
          .ports-text {

            tspan {
              font-family: 'Sen-Bold' !important;
              fill: $primary-color;
            }
          }
        }

        .hide {
          display: none;
        }

        .arrowHead {
          fill: #000000;
          .line-cover {
            fill: $fourth-color;
          }
        }

        .link {
          stroke: black;
        }
      }
    }
  }

  .volumes-wrapper {
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1em;
    font-size: 1.3em;
    color: white;

    .container {
      width: 100%;
      height: 90%;
      background-color: $primary-color;
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .half {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        max-height: 50%;
        padding: 1.5em;
      }

      h2 {
        color: white;
        margin: 0.75em 0 0.5em 0;
      }

      hr {
        border-top: $border;
        width: 80%;
        margin: 0 0 0.75em 0;
      }

      .volumeLegend {
        margin: 0 0 0.75em 0.5em;
        display: flex;

        p {
          margin: 0 0 0 0;
          word-break:break-all;
          width: 175px;
        }

        .volumeColorName {
          align-self: center;
        }

        .volumeSvgBox {
          height: 2em;
          width: 2em;

          .volumeSquare {
            height: 1.5em;
            width: 1.5em;
          }
        }
      }

      .scroll {
        overflow-y: auto;
        scroll-behavior: smooth;
        min-width: 100%;
      }
    }
  }

  .file-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #003459;
    h5 {
      font-size: 1em;
      align-self: center;
      margin: 0;
    }
    .select-file-button:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      opacity: 0.9;
      outline: inherit;
    }
  }

  div button {
    margin: 0 auto;
  }
}
