.d3-wrapper {
  display: flex;
  flex: 1 1 0;
  min-height: 500px;
  align-items: center;
  justify-content: center;

  .services-wrapper {
    flex: 1 1 0;
    height: 100%;
    .view-wrapper {
      height: 100%;
      width: 100%;
      .graph {
        width: 100%;
        height: 100%;
        .hide {
          display: none;
        }
        .arrowHead {
          fill: pink;
        }
        .link {
          stroke: black;
        }
      }
    }
    .networks-wrapper {
      height: 100%;
      width: 100%;
      .graph {
        width: 100%;
        height: 100%;
      }
    }
  }

  .volumes-wrapper {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 1em;
    .container {
      height: 90%;
      background-color: $hover-color;
      border-radius: 2em;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .half {
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 50%;
      }
      h2 {
        margin: 0.75em 0 0.5em 0;
      }
      hr {
        border-top: $border;
        width: 80%;
        margin: 0 0 0.75em 0;
      }
      .volume {
        margin: 0 0 2em 0.5em;
        .volumeBox {
          height: 2em;
          width: 2em;
          .volumeSq {
            height: 2em;
            width: 2em;
          }
        }
      }
      .scroll {
        overflow-y: auto;
        scroll-behavior: smooth;
      }
    }
  }

  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #003459;
    .select-file-button:hover {
      cursor: hand;
      cursor: pointer;
      opacity: 0.9;
    }
    button {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: hand;
      cursor: pointer;
      opacity: 0.9;
      outline: inherit;
    }
  }

  div button {
    margin: 0 auto;
  }
}
