.left-nav {
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: 320px 1fr;
  grid-template-areas: 'top-half' 'info';
  background-color: $primary-color;
  min-height: 650px;
  max-height: 100vh;

  .top-half {
    grid-area: top-half;

    .title {
      margin: 12% 10% 2% 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cls-1 {
        isolation: isolate;
      }
      .cls-2 {
        opacity: 0.75;
        mix-blend-mode: multiply;
      }
      .cls-3 {
        fill: none;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 15px;
        stroke: url(#linear-gradient);
      }
      .logo {
        width: 100%;
        padding-right: 0.5em;
        margin-left: 1.5em;
      }

      h1 {
        color: $fourth-color;
        font-size: 3em;
        margin-top: 0;
      }
    }

    .file-open {
      margin: 10%;
      background: none;
      color: $fourth-color;
      font-size: 1em;
      display: flex;
      justify-content: center;

      h5 {
        font-size: 1em;
        align-self: center;
        padding-left: 0.5em;
        margin: 0;
      }

      .open-flex {
        display: flex;
        justify-content: center;
        padding: 0.3em;
      }

      .select-file-button:hover {
        cursor: hand;
        cursor: pointer;
        color: $fifth-color;
      }

      button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: hand;
        cursor: pointer;
        opacity: 0.9;
        outline: inherit;
      }
    }
  }

  .info-dropdown {
    padding: 0 1em 1em 1em;
    grid-area: info;
    max-height: 100%;
    min-height: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'name' 'card';
    max-width: 100%;

    h3 {
      grid-area: name;
      text-align: center;
      color: $fourth-color;
      margin-bottom: 0.5em;
      font-size: 16px;
    }

    .content-wrapper {
      grid-area: card;
      height: 100%;
      max-width: 100%;

      display: flex;
      flex: 1;
      min-height: 0;
      .overflow-container {
        flex: 1;
        overflow-y: auto;
        scroll-behavior: smooth;

        .overview {
          min-height: min-content;
          flex-direction: column;
          padding: 1em;
          background-color: $fourth-color;
          font-size: 0.8em;
          overflow-wrap: break-word;
          border-radius: 0.25em;

          div {
            padding-bottom: 0.5em;
          }

          .command {
            color: $primary-color;
            font-weight: 800;
          }

          .options {
            padding: 0;

            div {
              padding-left: 1em;
              padding-bottom: 0;

              ul {
                padding: 0;
                padding-inline-start: 1.3em;

                li {
                  span {
                    font-weight: 600;
                  }
                }
              }

              .option-key {
                font-weight: 600;
              }
            }
          }

          .second-level {
            span {
              font-weight: 600;
            }
          }

          ul {
            padding-inline-start: 1.3em;
            margin: 0;
          }
        }
      }
    }
  }

  .card-header {
    position: sticky;
    background: none;
    color: $fourth-color;
    background-color: $primary-color;
    padding: 1em;
  }

  .leftNavContainerTitle {
    text-align: center;
    color: $fifth-color;
  }
}

.deployment-status {
  display: inline-block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 2px solid;
}

.status-healthy {
  border-color: rgb(211,211,211);
  background-color: rgba(211,211,211, 0.5);
  &.status-active {
    background-color: rgb(9, 247, 9);
  }
}

.status-moderate {
  border-color: rgb(211,211,211);
  background-color: rgba(211,211,211, 0.5);
  &.status-active {
    background-color: rgb(246, 246, 8);
  }
}
.status-dead {
  border-color: rgb(211,211,211);
  background-color: rgba(211,211,211, 0.5);
  &.status-active {
    background-color: rgb(253, 7, 7);
  }
}

.button-container:hover {
  cursor: hand;
  cursor: pointer;
  color: $fifth-color;
}

.deployment-title {
    font-size: 1em;
    align-self: center;
    padding-left: 0.5em;
    margin: 0;
}

.status-container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 40%;
  padding-right: 5%;
}

.deployment-container {
  text-align: center;
  margin-bottom: 10%;
  color: $fourth-color;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}