.left-nav {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: 320px 1fr;
  grid-template-areas: 'top-half''info';
  min-height: 650px;
  max-height: 100vh;

  .top-half {
    grid-area: top-half;

    .title {
      margin: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        color: $fourth-color;
      }
    }

    .file-upload {
      margin: 10%;
      background: none;
      color: $fourth-color;
      font-size: 1em;
      display: flex;
      justify-content: center;

      h5 {
        font-size: 1em;
        align-self: center;
        padding-left: 0.5em;
        margin: 0;
      }

      .upload-flex {
        display: flex;
        justify-content: center;
        padding: 0.3em;
      }

      .select-file-button:hover {
        cursor: hand;
        cursor: pointer;
        color: $fifth-color;
      }

      button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: hand;
        cursor: pointer;
        opacity: 0.9;
        outline: inherit;
      }
    }
  }

  .service-info-display {
    grid-area: info;
    min-height: 0;

    .info-dropdown {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 'name''card';
      height: 100%;
      max-width: 100%;

      h3 {
        grid-area: name;
        text-align: center;
        color: $fourth-color;
        margin-bottom: 0.5em;
        font-size: 16px;
      }

      .accordion {
        margin: 0 1em 1em 1em;
        overflow: scroll;
        grid-area: card;
        max-width: 100%;

        .card-body {
          background-color: $fourth-color;
          font-size: 0.8em;
          overflow: auto;

          div {
            padding-bottom: 0.5em;
          }

          .command {
            color: $primary-color;
            font-weight: 800;
          }

          .options {
            font-weight: 600;
          }

          .third-level {
            font-weight: 600;
          }

          .second-level {
            span {
              font-weight: 600;
            }
          }

          ul {
            padding-inline-start: 1.3em;
            margin: 0;
          }
        }
      }
    }
  }

  .card-header {
    position: sticky;
    background: none;
    color: $fourth-color;
    background-color: $primary-color;
    padding: 1em;
  }

  .leftNavContainerTitle {
    text-align: center;
    color: $fifth-color;
  }
}