.option-bar {
  // background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  // grid-area: 1 / 2 / 2 / 6;
  border-bottom: $border;
  padding: 0.5em;
  margin: 0 1em;

  .views {
    flex: 1 1 0;
    justify-content: center;
    margin-top: 1em;
  }

  .vl {
    border-left: $border;
  }

  .options {
    flex: 1 1 0;
    justify-content: center;
    margin-top: 1em;
  }

  .selected {
    background-color: $hover-color;
    border: 1px solid #c1d3e0 !important;
    font-weight: bolder;
  }

  .option {
    color: $secondary-color;
    -webkit-user-select: none;
    padding: 0em 0.3em !important;
    border-radius: 0.5em;
    border: 1px solid $fourth-color;
    margin: 0em 1em;
  }
  .option:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}
