.option-bar {
  // background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  // grid-area: 1 / 2 / 2 / 6;
  border-bottom: $border;
  padding: 0.5em;
  margin: 0 1em;

  .views {
    flex: 1 1 0;
    justify-content: center;
  }

  .vl {
    border-left: $border;
  }

  .options {
    flex: 1 1 0;
    justify-content: center;
  }

  .selected {
    font-weight: bold;
  }

  .option {
    color: $secondary-color;
    margin: 0 0 0 3%;
  }
}
