.option-bar {
  display: flex;
  justify-content: center;
  // border-bottom: $border;
  padding: 1.3em;
  background-color: #00325C;
  .views {
    flex: 1 1 0;
    justify-content: flex-end;
    select {
      color: $secondary-color;
      background-color: $fourth-color;
      font-size: 16px;
      border: none;
    }
    select:hover {
      cursor: pointer;
    }
    select:focus {
      outline: none;
    }
  }

  .titles {
    justify-content: center;

    .vl {
      border-left: $border;
    }

    h2 {
      color: $fourth-color;
      margin: 0em 0.5em 0em 0.3em;
    }
  }

  .options {
    flex: 1 1 0;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .selected {
    background-color: $hover-color !important;
    border: 1px solid #c1d3e0 !important;
    font-weight: bolder;
  }

  .option {
    font-size: 16px;
    color: $secondary-color;
    padding: 0em 0.3em !important;
    border-radius: 0.5em;
    margin: 0 3%;
  }

  .option:hover {
    background-color: $hover-color;
    cursor: pointer;
  }
}
