#swarm-deploy-div {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  color: white;
  height: 6em;
  width: 100%;
  text-align: center; 
  margin-bottom: 40%;
}

#swarm-btn-div {
  align-items: center;
  padding-left: 0.5em;
  margin: 0;
}

#swarm-deploy-btn {
  background-color: transparent;
  color: white;
  font-size: 1.1em;
  width: 100%;
  border: none;
  outline: none;

  span {
    margin-right: 5px;
  }

  &:hover {
    cursor: hand;
    cursor: pointer;
    color: $fifth-color;
  }
  &:active {
    outline: none;
    border: none;
  }
}

#hidden-swarm-div {
  visibility: hidden; 
  position: absolute; 
  width: 30em; 
  height: 15em; 
  margin-left: 35%;
  margin-top: -20%;
  background-color: #DfE9FD;
  border: solid 1px #013874;
  border-radius: 20px;

  #button-and-other-divs {
    // background-color: gainsboro;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    // align-items: flex-start;
    justify-content: space-between;
  }

  #exit-swarm-deploy-box {
    margin-right: 0.4em;
    margin-top: 0.2em;
    background-color: red;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
  }
  .popup-content-wrapper {
    width: 90%;
    height: 90%;
    margin-left: 12%;

    #initialize-swarm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // float: left;
      
      #stack-name-label {
        color: teal;
        font-size: 1.5em;
        margin-top: 0.2em;
        padding: 7px;
      }
    
      #stack-name {
        border-radius: 10px;
        height: 1.5rem;
        font-size: 1em;
        padding: 5px;
        margin-bottom: 6px;
      }
    
      #stack-name:focus, textarea:focus, select:focus {
        outline: none;
      }
    
      #create-swarm {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }
    .swarm-spans {
      margin-bottom: 1em
    }

    .error-div {
      width: 90%;
      padding-top: 5em;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .error-p {
        color: red;
      }
      .swarm-btn {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }

    .success-div {
      width: 90%;
      padding-top: 3.5em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .success-p {
        color: green;
        font-size: 1.1em;
      }
    }
  }

}




