.deploy-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  color: white;
  width: 100%;
  text-align: center; 
  margin-bottom: 8%;
  align-items: center;

  .deploy-btn {
    background-color: rgb(223, 223, 223);
    color: black;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right:  0px;;
    font-size: 1.1em;
    width: 85%;
    border: none;
    border-radius: 6px;
    margin-bottom: 0.6em;
    transition: background-color 0.2s;

    .deployment-title {
      font-size: 1em;    
      padding-left: 0.5em;
  }
    .open-button{
      float: left;
      transform: translate(14px, 12px);
      color: $primary-color;
    }
    .deployment-button{
      float: left;
      transform: translate(14px, 12px);
      color: $primary-color;
    }
  
    span {
      margin-right: 5px;
    }
  
    &:hover {
      cursor: hand;
      cursor: pointer;
      color: black;
      background-color: darken($fourth-color, 10%);
    }
    &:active {
      background-color: darken($fourth-color, 25%);
    }
  }
}

#compose-deploy-div {
  margin-bottom: 8%;
}

#swarm-deploy-popup {
  visibility: hidden; 
  position: absolute; 
  width: 30em; 
  height: 15em; 
  margin-left: 35%;
  margin-top: -20%;
  background-color: #DfE9FD;
  border: solid 1px #013874;
  border-radius: 20px;

  #button-and-other-divs {
    // background-color: gainsboro;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    // align-items: flex-start;
    justify-content: space-between;
  }

  #exit-swarm-deploy-box {
    margin-right: 0.4em;
    margin-top: 0.2em;
    background-color: red;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
  }
  .popup-content-wrapper {
    width: 95%;
    height: 90%;
    margin-left: 12%;

    #initialize-swarm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // float: left;
      
      #stack-name-label {
        color: teal;
        font-size: 1.5em;
        margin-top: 0.2em;
        padding: 7px;
      }
    
      #stack-name {
        border-radius: 10px;
        height: 1.5rem;
        font-size: 1em;
        padding: 5px;
        margin-bottom: 6px;
      }
    
      #stack-name:focus, textarea:focus, select:focus {
        outline: none;
      }
    
      #create-swarm {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }
    .swarm-spans {
      margin-bottom: 1em
    }

    .error-div {
      width: 90%;
      padding-top: 5em;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .error-p {
        color: red;
      }
      .swarm-btn {
        background-color: teal;
        color: white;
        font-size: 1.2em;
        width: 40%;
        border-radius: 10px;
      }
    }

    .success-div {
      width: 95%;
      padding-top: 3.5em;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .success-p {
        color: green;
        font-size: 1.1em;
      }
    }
  }

}