.tab-bar {
  display: flex;
  border-bottom: 1px solid $secondary-color;
  padding-left: 5px;
  height: 2em;
  align-items: bottom;
  overflow-y: hidden;
  .tab {
    width: 8em;
    height: 2em;
    color: darken($secondary-color, 10%);
    border-top: 1px solid lighten($secondary-color, 10%);
    border-left: 1px solid lighten($secondary-color, 10%);
    border-right: 1px solid lighten($secondary-color, 10%);
    margin-top: 4px;
    box-shadow: 2px 2px 2px darken($secondary-color, 20%);
    padding: 4px;
  }
  #active-tab {
    background-color: lighten($secondary-color, 10%);
    color: white;
  }
}