.tab-bar {
  display: flex;
  background-color: rgb(0,50,92);;
  height: 2em;
  align-items: bottom;
  overflow-y: hidden;
  overflow-x: scroll;
  .tab {
    width: 12em;
    height: 2em;
    color: darken($secondary-color, 10%);
    background-color: rgb(0,50,92);
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    .tab-text {
      max-width: 100%;
      overflow: hidden;
      font-size: 0.95em;
    }
    .close-btn {
      color: rgb(184,184,189);
      font-size: 0.77em;
      border: none;
      background-color: rgba(0, 0, 0, 0.0);
    }
    .close-btn:hover {
      color: white;
    }
  }
  .active-tab {
    background-color: rgb(11,94,181);
    color: white;
  }
}

.tab-bar::-webkit-scrollbar {
  display: none;
}