// IMPORT SASS
@import 'variables';

.title {
  margin: 10%;
  h1 {
    color: $fourth-color;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
}

.left-nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
}

.info-dropdown {
  padding: 10%;
  background: none;
}

.card-header {
  background: none;
  color: $fourth-color;
  background-color: $primary-color;
  padding: 0.5em;
}

.file-upload {
  margin: 10%;
  background: none;
  color: $fourth-color;
  font-size: 1em;
  button {
    background-color: $secondary-color;
    border-color: $fourth-color;
  }
}

.d3-wrapper {
  display: flex;
  justify-content: start;
}

.app {
  display: flex;
}

.myContainers {
  background-image: url('../../src/styles/aris.png');
}
