// IMPORT SASS
@import 'variables';

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
  color: $fourth-color;

  .left-nav {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: 1 / 1 / 6 / 2;
    // top: 0;
    // left: 0;
    // width: 40%;
    // height: 100%;

    .title {
      margin: 10%;
      h1 {
        color: $fourth-color;
      }
    }

    .info-dropdown {
      padding: 10%;
      background: none;
    }

    .card-header {
      background: none;
      color: $fourth-color;
      background-color: $primary-color;
      padding: 0.5em;
    }

    .file-upload {
      margin: 10%;
      background: none;
      color: $fourth-color;
      font-size: 1em;
      button {
        background-color: $secondary-color;
        border-color: $fourth-color;
      }
    }
  }

  .option-bar {
    background-color: $primary-color;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    grid-area: 1 / 2 / 2 / 6;
    margin-bottom: 5%;
    font-size: 1.3rem;

    .group-by {
      margin-left: 5%;
      width: 50%;
      color: $fourth-color;
    }

    .view-options {
      width: 50%;
      color: $fourth-color;
    }
    .option {
      margin: 0 0 0 3%;
    }
    .option:hover {
      color: $fourth-color;
    }
  }
}

// @media screen and (max-width: 600px) {
//   .file-upload {
//     font-size: 1em;
//   }
// }
